<div id="general">
	<header>
		<h1>yammy</h1>
	</header>
	<nav>
		<ul id="menu">
			<li><a href="#">main</a></li>
			<li><a href="#">about</a></li>
			<li><a href="#">services</a></li>
			<li><a href="#">projects</a></li>
			<li><a href="#">contacts</a></li>
		</ul>
	</nav>
	<section id="banner">
		<figure>
			<img src="assets/ensalada.jpg" width="934" height="446" alt="ensalada">
		</figure>
	</section>
	<section id="platos">
		<h3>featured projects</h3>
		<ul>
			<li>
				<p>tituo</p>
				<figure>
					<img src="assets/plato.jpg" width="171" height="119" />
				</figure>
			</li>
			<li>
				<p>tituo</p>
			</li>
			<li>
				<p>tituo</p>
			</li>
			<li>
				<p>tituo</p>
			</li>
			<li>
				<p>tituo</p>
			</li>
		</ul>
	</section>
</div>
<script>
document.title=new Date();
setTimeout(function(){ location.href = location.href},1000);
</script>
